db.sqlite3

__pycache__/
*.pyc

*/migrations/
!*/migrations/__init__.py


venv/

.vscode/
.idea/

/apps/adotante/__pycache__/*
/apps/adotante/migrations/*
/apps/abrigo/__pycache__/*
/apps/abrigo/migrations/*
/apps/adocao/__pycache__/*
/apps/adocao/migrations/*
/apps/tipo/__pycache__/*
/apps/tipo/migrations/*